.delete-modal__title {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #3B3B3B;
}

.delete-modal__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #3B3B3B;
  margin-bottom: 50px;
}

.delete-modal__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-modal__button {}

.delete-modal__close {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #B9B9B9;
}

.delete-modal__sumbit {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #82B284;
}